%main.wiki-container.wiki-page-edit{:'data-slug' => slug}
  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}

  - if @current_user.nil? || @current_user&.sso_method == 'ip_address'
    .message.message-warning
      = t(:'page/edit/warnings/unauthenticated', ip: request.ip)

  %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

    %label{for: 'wiki-editor'}= t(:'page/edit/content')
    %textarea#wiki-editor{name: 'content', required: true}
      &= content

    %label{for: 'revdesc'}= t(:'page/edit/revdesc')
    %input#revdesc{type: 'text', name: 'revdesc', required: false, placeholder: t(:'page/edit/revdesc'), value: revdesc}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'page/edit/submit')
