%main.wiki-container.wiki-page-edit{:'data-slug' => slug}
  .message.message-warning
    = t(:'page/edit/preview/warnings/not_saved')

  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}
  - if subtitle
    %h2= subtitle

  %section.page-content
    = content

  .pure-form.form-main
    %h1= t(:'page/edit/preview/actions')

    - if @current_user.nil? || @current_user&.sso_method == 'ip_address'
      .message.message-warning
        = t(:'page/edit/warnings/unauthenticated', ip: request.ip)

    %p
      = succeed ': ' do
        = t(:'page/edit/revdesc')
      %code
        &= revdesc

    %form.inline-form{method: 'POST'}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
      %input{type: 'hidden', name: 'save', value: 1}
      %input{type: 'hidden', name: 'content', value: raw_content}
      %input{type: 'hidden', name: 'revdesc', value: revdesc}

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-pencil= ""
        = t(:'page/edit/preview/submit')

    %form.inline-form{method: 'POST'}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
      %input{type: 'hidden', name: 'editor', value: 1}
      %input{type: 'hidden', name: 'content', value: raw_content}
      %input{type: 'hidden', name: 'revdesc', value: revdesc}

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-arrow-circle-left= ""
        = t(:'page/edit/preview/return')
