%header.wiki-page-header
  %h1.wiki-page-title
    = title

%section.page-content
  %p= t(:'auth/choose_provider/content')

  .form-main
    - providers.each do |pname, p|
      %a.pure-button.button{href: p.begin_url}
        %i.fa.fa-sign-in= ""
        &= p.friendly_name
