%header.wiki-page-header
  %h1.wiki-page-title
    %a{href: url("/w/#{slug}")}
      = title

  %ul.wiki-page-controls
    %li{class: current_prefix?("/w/")}
      %a{href: url("/w/#{slug}"), title: t(:'page/actions/view')}
        %i.fa.fa-book= ""
        %span.fs-only
          = t(:'page/actions/view')

    - if logged_in? || Kakapo.app_config['anonymous-edit']
      %li{class: current_prefix?("/w:edit/")}
        %a{href: url("/w:edit/#{slug}"), title: t(:'page/actions/edit')}
          %i.fa.fa-pencil= ""
          %span.fs-only
            - unless page.nil?
              = t(:'page/actions/edit')
            - else
              = t(:'page/actions/create')

    - if (logged_in? || Kakapo.app_config['anonymous-history']) && !page.nil?
      %li{class: current_prefix?("/w:history/") || current_prefix?("/w:revision/")}
        %a{href: url("/w:history/#{slug}"), title: t(:'page/actions/history')}
          %i.fa.fa-history= ""
          %span.fs-only
            = t(:'page/actions/history')
