%footer.page-footer.page-footer--pad
  %p
    %ul.inline-list
      %li
        %span= t(:powered_by_kakapo)

      - if Kakapo.app_config["display-version"]
        %li
          %span= Kakapo.version

  = haml :'partials/language_switcher', layout: false

  - if settings.development?
    = haml :'partials/footer_debug_options', layout: false
