%nav.body-sidebar
  %header.body-sidebar-section.body-sidebar-brand
    %h2
      %a{href: url("/")}
        &= site_name

  .body-sidebar-section.body-sidebar-auth
    - if logged_in?
      %span.body-sidebar-auth-user
        = t(:'sidebar/user/hello', username: current_user.username)

      %ul.body-sidebar-auth-list
        %li
          %a{href: url("/u:settings")}
            %i.fa.fa-user.fa-fw><= ""
            = t(:'sidebar/user/settings')

        %li
          %a{href: url("/auth/logout")}
            %i.fa.fa-sign-out.fa-fw><= ""
            = t(:'sidebar/user/logout')

    - else
      %span.body-sidebar-auth-user
        - if current_user&.sso_method == 'ip_address'
          = t(:'sidebar/user/ip_user', ip: request.ip)
        - else
          = t(:'sidebar/user/not_logged_in')

      %ul.body-sidebar-auth-list
        %li
          - login_url = Addressable::URI.parse(url("/auth"))
          - login_url.query_values = {"next" => request.path}
          %a{href: login_url.to_s}
            %i.fa.fa-sign-in.fa-fw><= ""
            = t(:'sidebar/user/login')

  - if @sidebar_content
    .body-sidebar-section.body-sidebar-content
      = @sidebar_content
