body {
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: $responsive_width)
  {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .body-outer
  {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $responsive_width)
    {
      max-width: $body_width;
      margin: $body_margin;
    }
  }

  .body-inner
  {
    background: $body_background;
    color: $body_foreground;

    width: 100%;
    flex: 1;
    padding: $body_padding;
    border-radius: $body_border_radius;

    @media screen and (min-width: $responsive_width)
    {
      border-radius: 0 0 $body_border_radius $body_border_radius;
    }
  }
}
