dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > * {
        padding-top: 0.5em;
    }
}

dt {
    width: $description_term_width;
    font-weight: bold;
    font-family: sans-serif;
    color: $page_content_header_color;
    text-align: right;

    + dt {
        padding-right: $description_details_width;
    }

    + dt + dd {
        margin-top: -1.625em;
        padding-left: calc($description_term_width + 1em);
    }
}

dd {
    width: $description_details_width;
    padding-left: 1em;
    margin-left: 0px;

    + dd {
        width: 100%;
        padding-left: calc($description_term_width + 1em);
    }
}
