form {
  input:not([type = "checkbox"]), select, textarea {
    color: $color_foreground;
  }
}

.form-main {
  h1 {
    font-size: 1.25rem;

    margin: 1rem 0;
    padding: 0.25rem 0;

    border-bottom: 1px solid #000;
  }
  
  &:target {
    h1 {
      background: $color_highlight !important;
    }
  }   

  input:not([type = "checkbox"]), select, textarea, .button {
    width: 100%;
  }

  .button {
    margin: 0.5rem 0;
  }
}
