.message
{
  display: block;
  margin: .5em 0;
  padding: .5em 1em;
  width: 100%;

  background: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 4px;

  &.message-success
  {
    border-color: $symbolic_success_border;
    background: $symbolic_success_background;
    color: $symbolic_success_foreground;
  }

  &.message-warning
  {
    border-color: $symbolic_warning_border;
    background: $symbolic_warning_background;
    color: $symbolic_warning_foreground;
  }

  &.message-error
  {
    border-color: $symbolic_error_border;
    background: $symbolic_error_background;
    color: $symbolic_error_foreground;
  }

  a:not(.button)
  {
    color: inherit;

    &:visited
    {
      color: inherit;
    }
  }
}
