.midsplash-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 1rem 0;

  .midsplash {
    display: block;
    width: $responsive_width;
    max-width: $midsplash_width;

    margin: 1rem;
    padding: 1rem;

    color: $body_foreground;
    background: $body_background;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.375);

    h1 {
      font-size: 1.25rem;
      margin: 0 0 1rem 0;
      padding: 0.25rem 0;
      border-bottom: 1px solid #000;
    }

    input:not([type = "checkbox"]), select, textarea, .button {
      width: 100%;
    }

    .button {
      margin: 0.5rem 0;
    }
  }
}
