.page-content {
  max-width: $page_content_width;
  font-family: serif;
  font-weight: 300;
  line-height: 1.35;

  h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    color: $page_content_header_color;
  }

  h1, h2 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: -0.04rem;
    line-height: 1.1;
  }

  h3, h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    letter-spacing: -0.03rem;
  }

  p {
    margin: 1rem 0;
  }

  a {
    color: $page_content_link_color;
    font-weight: 400;
    text-decoration-thickness: 1px;
    transition: text-decoration-thickness 300ms;
    &:visited {
      color: $page_content_visited_link_color;
    }
    &:focus,
    &:hover {
      text-decoration-thickness: 2px;
    }
    &:active {
      color: $page_content_active_link_color;
      text-decoration-thickness: 0px;
    }
  }

  strong {
    font-weight: 500;
  }

  .pre {
    font-size: 0.9rem;
    font-weight: 500;
    color: $page_content_header_color;
    background-color: $page_content_accent_color;
    padding: 0.15rem 0.3rem 0.05rem 0.3rem;
    border-radius: 0.1rem;
  }

  ul {
    list-style: none;

    li {
    	padding-left: 0.5rem;
    	margin-bottom: 0.5rem;
    }

    li::before {
      content: "\2022";
      color: $page_content_header_color;
      font-weight: bold;
      display: inline-block;
      width: 1.5em;
      margin-left: -1em;
    }
  }

  table, td {
    border: 1px solid $page_content_header_color;
    border-collapse: collapse;
  }

  table {
    margin-top: 3rem;
    font-family: sans-serif;

    th {
      background-color: $page_content_header_color;
      color: white;
    }
  }
}
