.body-sidebar
{
  padding: $sidebar_padding_y $sidebar_padding_x;

  width: 100%;
  @media screen and (min-width: $responsive_width)
  {
    max-width: $sidebar_width;
  }

  ul
  {
    margin: 0.25rem 0 1.5rem 0;
    padding: 0 1rem;
    list-style: none;


    li {
      margin: 0.5rem 0;
      padding-left: 0.4rem;
    }
  }

  .body-sidebar-section
  {
    &:not(:first-child)
    {
      border-top: 1px solid $html_foreground;
    }

    h2
    {
      font-size: 2em;
      letter-spacing: -0.04rem;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
      }
    }

    p {
      margin-top: 0.8rem;
    }

    a
    {
      color: $color_accent;
      border-bottom: 1px solid transparent;

      &:focus,
      &:hover
      {
        text-decoration: none;
        border-bottom-color: $color_accent;
      }
    }
  }
}

div.body-sidebar-auth {
  margin-top: 0.54rem;
  padding-top: 1.35rem;
}

ul.body-sidebar-auth-list {
  list-style: none;
  padding-left: 0;
  padding-top: 0.2rem;
  font-weight: 600;

  li {
    padding-left: 0;
  }

  i {
    padding-right: 1.5rem;
    margin: 0.4rem 0;
  }

}

div.body-sidebar-content {
  padding-top: 0.5rem;
}
