.ck-content {
  min-height: 12rem;
}

.x-margin-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.y-margin-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.xy-margin-small {
  @extend .x-margin-small;
  @extend .y-margin-small;
}

.x-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.y-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.xy-margin {
  @extend .x-margin;
  @extend .y-margin;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.inline-form {
  display: inline-block;

  .button {
    width: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;
  border: none;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.fs-only
{
  @extend .sr-only;

  @media screen and (min-width: $responsive_width)
  {
    position: static;
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
    overflow: normal;
    clip: none;
  }
}
