$responsive_width: 64rem;
$midsplash_width: 36rem;

$color_background: #fff;
$color_background_dimmed: #cfcfcf;
$color_foreground: #000;
$color_foreground_dimmed: #444;
$color_accent: #0aa;
$color_highlight: #ffe690;

$html_background: #001a1a;
$html_foreground: #fff;

$symbolic_success_background: #0b0;
$symbolic_success_foreground: #dfb;
$symbolic_success_border: #12e512;
$symbolic_warning_background: #fec;
$symbolic_warning_foreground: #860;
$symbolic_warning_border: #fea;
$symbolic_error_background: #b00;
$symbolic_error_foreground: #fcc;
$symbolic_error_border: #e51212;

$sidebar_width: 14rem;
$sidebar_padding_x: 0.5rem;
$sidebar_padding_y: 1.2rem;

$body_background: $color_background;
$body_foreground: $color_foreground;
$body_margin: 0px;
$body_padding: 0.5rem clamp(0.5rem, 5%, 3rem) 2rem clamp(0.5rem, 5%, 3rem);
$body_width: calc(100vw - #{$sidebar_width} - 2rem);
$body_border_radius: 2px;

$body_footer_color: #cfcfcf;
$body_footer_font_size: 0.75rem;
$body_footer_padding: 1rem;

$badge_foreground: $color_foreground_dimmed;
$badge_background: $color_background_dimmed;
$badge_border: $color_foreground_dimmed;

$blockquote_quote_color: $color_foreground_dimmed;
$blockquote_left_margin: 1em;
$blockquote_left_border: 6px solid $blockquote_quote_color;

$wiki_page_header_margin: 0.25rem 0 1.25rem 0;
$wiki_page_header_border_color: $color_foreground_dimmed;
$wiki_page_title_margin: 0.5rem 0;
$wiki_page_controls_padding: 0.25rem 0.4rem;
$wiki_page_controls_foreground: $color_foreground_dimmed;
$wiki_page_controls_focus_foreground: $color_foreground;
$wiki_page_controls_active_foreground: $color_accent;

$page_content_width: 50rem;
$page_content_header_color: hsl(0, 2%, 30%);
$page_content_link_color: hsl(200, 72%, 38%);
$page_content_visited_link_color: hsl(246, 41%, 27%);
$page_content_active_link_color: hsl(0, 53%, 40%);
$page_content_accent_color: hsl(0, 63.2%, 86%);

$description_term_width: clamp(5rem, 20%, 9rem);
$description_details_width: clamp(10rem, 70%, 40rem);
