.wiki-page-header
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  margin: $wiki_page_header_margin;
  border-bottom: 1px solid $wiki_page_header_border_color;

  .wiki-page-title
  {
    margin: $wiki_page_title_margin;

    a
    {
      color: $body_foreground;
      text-decoration: none;
      border-bottom: none;
      letter-spacing: -0.04rem;
    }
  }

  .wiki-page-controls
  {
    display: flex;
    flex-flow: row wrap;
    list-style: none outside none;
    margin: 0.325rem;
    padding: 0;

    li
    {
      list-style: inherit;
      display: block;
      margin: 0px;
      border-bottom: 2px solid transparent;

      a
      {
        display: block;
        padding: $wiki_page_controls_padding;
        color: $wiki_page_controls_foreground;
        transition: color 0.125s;
        text-decoration: none;
      }

      &:focus,
      &:hover
      {
        a
        {
          color: $wiki_page_controls_focus_foreground;
        }
      }

      &.current
      {
        a
        {
          color: $wiki_page_controls_active_foreground;
        }

        border-bottom-color: $wiki_page_controls_active_foreground;
      }
    }
  }
}

.page-content-diff
{
  ins
  {
    background: $symbolic_success_background;
    color: $symbolic_success_foreground;
  }

  del
  {
    background: $symbolic_error_background;
    color: $symbolic_error_foreground;
  }
}

#wiki-editor
{
  min-height: 12rem;
  font-family: monospace;
  font-size: 1rem;
  padding: 0 0.25rem;

  &:focus {
    border-color: $page_content_accent_color;
  }
}

.pure-form label {
  color:  $page_content_header_color;
  font-weight: 600;
  margin: 1.2rem 0 1rem 0;
}
