@import 'variables';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: $html_background;
  color: $html_foreground;
  font-size: 110%;

  ::selection {
    background: $color_highlight;
    color: $color_foreground;
  }

  ::-moz-selection {
    @extend ::selection;
  }
}

@import 'sidebar';
@import 'body';
@import 'midsplash';
@import 'form';
@import 'message';
@import 'list';
@import 'description_list';
@import 'blockquote';
@import 'rich_text';
@import 'badge';
@import 'util';
@import 'footer';

// section-specific styles
@import 'wiki_page';
@import 'page_content';
