%main.wiki-container.wiki-page-view{:'data-slug' => slug}
  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}
  - if subtitle
    %h2= subtitle

  %section.page-content
    = content
