.midsplash-container
  .midsplash.error-500
    %h1= title
    %p= t(:'errors/internal_server_error/content')

    %a.pure-button.button.button-primary{:href => url("/")}
      %i.fa.fa-home= ""
      = t(:'back/home')
