%header.wiki-page-header
  %h1.wiki-page-title
    = title

%section.page-content.form-main
  %p= t(:'errors/not_found/content')

  - unless logged_in?
    %p= t(:'errors/not_found/not_logged_in')

    - login_url = Addressable::URI.parse(url("/auth"))
    - login_url.query_values = {"next" => request.path}
    %a.pure-button.button.button-primary{href: login_url.to_s}
      %i.fa.fa-sign-in= ""
      = t(:'sidebar/user/login')
