%header.wiki-page-header
  %h1.wiki-page-title
    = title

%section.page-content
  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: url("/u:settings/username")}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'user/settings/username/section_title')

    %p
      = succeed ': ' do
        = t(:'user/settings/username/current_username')
      %code
        &= username

    %label{for: 'new_username'}= t(:'user/settings/username/new_username')
    %input#new_username{type: 'text', name: 'username', placeholder: t(:'user/settings/username/new_username'), required: true}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil-square-o= ""
      = t(:'user/settings/username/submit')
