%main.wiki-container.wiki-page-history-list{:'data-slug' => slug}
  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}

  %section.page-content
    %table.pure-table.pure-table-striped
      %thead
        %tr
          %th= t(:'page/history/revisions/diffs')
          %th= t(:'page/history/revisions/timestamp')
          %th= t(:'page/history/revisions/author')
          %th= t(:'page/history/revisions/description')

      %tbody
        - revisions.each_with_index do |rev, idx|
          %tr
            %td
              - if idx.zero?
                %i.fa.fa-fw.fa-circle-o= ""
              - else
                %a{href: url("/w:revision/diff/#{revisions[idx-1][:id]}/#{rev[:id]}")}
                  %i.fa.fa-fw.fa-caret-up= ""

              - if revisions.count > (idx + 1)
                %a{href: url("/w:revision/diff/#{rev[:id]}/#{revisions[idx+1][:id]}")}
                  %i.fa.fa-fw.fa-caret-down= ""
              - else
                %i.fa.fa-fw.fa-circle-o= ""

            %td
              &= t(:'timestamp/fmt_ts', ts: rev[:created])

            %td
              &= rev[:creator][:username]

            %td
              %a{href: url("/w:revision/#{rev[:id]}")}
                %i.fa.fa-link= ""
                - if rev[:description].nil? || rev[:description]&.empty?
                  = t(:'page/distory/revisions/description/empty')
                - else
                  &= rev[:description]
