%main.wiki-container.wiki-page-view-revision{:'data-slug' => slug, :'data-revision' => revision.id}
  .message.message-success
    .y-margin-small
      = t(:'page/history/view_rev/notice', rev: revision.id, slug: slug, ts: revision.created)

    .inline-form.y-margin-small
      %a.pure-button.button.button-primary{href: url("/w:history/#{slug}")}
        %i.fa.fa-chevron-left= ""
        = t(:'page/history/view_rev/notice/back_to_list')

      %a.pure-button.button{href: "?raw=#{display_raw ? 0 : 1}"}
        %i.fa{class: "fa-toggle-#{display_raw ? 'on' : 'off'}"}= ""
        = t(:'page/history/view_rev/notice/toggle_raw', display_raw: display_raw)

  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}

  - if display_raw
    %section.page-content
      %pre.literal-block&= content_raw

  - else
    - if subtitle
      %h2= subtitle

    %section.page-content
      = content
