%main.wiki-container.wiki-page-view-revision{:'data-slug' => slug, :'data-rev-one' => rev_one.id, :'data-rev-two' => rev_two.id}
  .message.message-success
    .y-margin-small
      = t(:'page/history/view_diff/notice', rev_one: rev_one.id, rev_one_link: url("/w:revision/#{rev_one.id}"), rev_two: rev_two.id, rev_two_link: url("/w:revision/#{rev_two.id}"), slug: slug)

    .inline-form.y-margin-small
      %a.pure-button.button.button-primary{href: url("/w:history/#{slug}")}
        %i.fa.fa-chevron-left= ""
        = t(:'page/history/view_diff/notice/back_to_list')

      %a.pure-button.button.button-primary{href: url("/w:revision/diff/#{rev_two.id}/#{rev_one.id}")}
        %i.fa.fa-exchange= ""
        = t(:'page/history/view_diff/notice/reverse_revs')

  = haml :'page/partials/title', layout: false, locals: {slug: slug, page: page, title: title}

  %section.page-content-diff
    %pre.literal-block
      = diff_render
